<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net462" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="relativity.faspmanager" version="3.7.2.0" targetFramework="net462" />
  <package id="Relativity.Logging" version="9.4.308" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.308" targetFramework="net462" />
  <package id="relativity.transfer.client" version="1.1.4-alpha000038" targetFramework="net462" />
  <package id="relativity.transfer.client.extension" version="1.1.4-alpha000038" targetFramework="net462" />
  <package id="Serilog" version="2.5.0" targetFramework="net462" />
  <package id="Serilog.Enrichers.CorrelationId" version="1.0.1" targetFramework="net462" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net462" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net462" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Logentries" version="3.0.26" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Seq" version="3.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net462" />
  <package id="ssh.net" version="2016.0.0.0" targetFramework="net462" />
</packages>