<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
	<package id="Polly" version="5.3.1" targetFramework="net462" />
	<package id="Relativity.Kepler" version="2.15.0" targetFramework="net462" />
	<package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
	<package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
	<package id="Relativity.Logging.Interfaces" version="3000.1.2" targetFramework="net462" />
	<package id="Relativity.Transfer.Client" version="7.4.7" targetFramework="net462" />
	<package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
	<package id="System.Reactive" version="4.0.0" targetFramework="net462" />
</packages>