<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="%userprofile%\.nuget\packages-server" />
	</config>
	<packageSources>
		<clear />
		<add key="NuGet.org" value="https://api.nuget.org/v3/index.json"/>
		<!-- Use only one of the following public feeds depending on your geographic region. -->
		<add key="ServerArtifactoryNuGet" value="https://relativitypackageseastus.jfrog.io/artifactory/api/nuget/v3/server-nuget-virtual" />
		<!-- <add key="ServerArtifactoryNuGet" value="https://relativitypackageswesteurope.jfrog.io/artifactory/api/nuget/v3/server-nuget-virtual" /> /-->
	</packageSources>
	<packageSourceMapping>
		<packageSource key="ServerArtifactoryNuGet">
			<package pattern="Relativity.Server.*" />
		</packageSource>
		<packageSource key="NuGet.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>